# =========================
# Single EKF (ABS XY + IMU)
# - 역할: map -> chassis_link (단일 필터)
# - 입력: 절대 x,y(Pose), IMU(자세/각속/선가속)
# =========================
ekf_single:
  ros__parameters:
    # 기본 루프/타임아웃
    frequency: 100.0               # 30~100Hz 아무거나 ok (IMU 속도에 맞춰 조정)
    sensor_timeout: 0.5           # /abs_xy가 4Hz라면 0.4~0.5s 권장
    two_d_mode: true # 발산 위험 감소
    publish_tf: true                # map -> chassis_link 퍼블리시

    # 프레임
    map_frame: map
    odom_frame: odom                # 단일 EKF에선 사용 안 되지만 관례상 명시
    base_link_frame: chassis_link
    world_frame: map                # 단일 EKF는 map 기준으로 직접 퍼블리시

    # -------- 절대 위치 입력 (Pose) --------
    # /abs_xy: PoseWithCovarianceStamped (header.frame_id = map 권장)
    pose0: /abs_xy
    pose0_config: [true,  true,  false,   # x,y만 절대값 사용
                   false, false, false,   # roll,pitch,yaw은 이 센서에서 사용 안 함
                   false, false, false,   # 속도 없음
                   false, false, false,   # 각속도 없음
                   false, false, false]   # 가속도 없음
    pose0_nodelay: true
    pose0_queue_size: 5
    pose0_differential: false
    pose0_relative: false

    # -------- IMU 입력 --------
    # /imu/data: sensor_msgs/Imu (header.frame_id = imu_link)
    # gazebo = /imu
    # real = /imu/data
    imu0: /imu_cal
    imu0_config: [false,false,false,      # 위치는 IMU에서 사용 안 함
                  true, true, true,       # roll,pitch,yaw (자세)
                  false,false,false,      # 선속도는 IMU에서 사용 안 함
                  true, true, true,       # 각속도
                  true, true, true]       # 선가속도
    imu0_remove_gravitational_acceleration: true
    imu0_nodelay: true
    imu0_queue_size: 10
    imu0_differential: false
    imu0_relative: false

    # -------- 출력 옵션 --------
    publish_acceleration: false

    # -------- 공정/초기 공분산 (예시값) --------

    # process_noise_covariance: [1.0, 1.0, 1e-3, 
    #                           0.3, 0.3, 0.01, 
    #                           0.5, 0.5, 0.1, 
    #                           0.3, 0.3, 0.3, 
    #                           0.3, 0.3, 0.3]
    process_noise_covariance: [0.5, 0.5, 0.1,
                               0.01, 0.01, 0.05,
                               0.8, 0.8, 0.1,
                               0.05, 0.05, 0.08,
                               0.1, 0.1, 0.5]
   

    # initial_estimate_covariance: [1.0, 1.0, 1e-9,
    #                               1.0, 1.0, 1e-9, 
    #                               1.0, 1.0, 1.0, 
    #                               1.0, 1.0, 1.0, 
    #                               1.0, 1.0, 1.0]
    initial_estimate_covariance: [2.0, 2.0, 1.0,
                                  1e-3, 1e-3, 1e-3,
                                  1.5, 1.5, 0.5,
                                  1e-3, 1e-3, 1e-3,
                                  0.1, 0.1, 1.0]


